@import "tailwindcss";

:root {
    --background: #fcfbfb;
    --foreground: #ededed;
    --main: #fdad00;
    --dark: #6e6e6e;
    --black: #000;
}

[data-theme="dark"] {
    --background: #fcfbfb;
    --foreground: #ededed;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-roboto: var(--font-roboto);
    --font-montserrat: var(--font-montserrat);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-main: var(--main);
    --color-dark: var(--dark);
    --color-black: var(--black);
}

body {
    background: var(--background);
    letter-spacing: .06em;
}

button:active {
    transform: translateY(2px) scale(0.99);
    transition: all .15s ease-in;
}
.button-simple:active {
    transform: translateY(0) scale(.95);
}
