@import "tailwindcss";

:root {
    --background: #fcfbfb;
    --foreground: #ededed;
    --main: #fdad00;
    --dark: #6e6e6e;
    --black: #000;
}

[data-theme="dark"] {
    --background: #fcfbfb;
    --foreground: #ededed;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-roboto: var(--font-roboto);
    --font-montserrat: var(--font-montserrat);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-main: var(--main);
    --color-dark: var(--dark);
    --color-black: var(--black);
}

body {
    background: var(--background);
    letter-spacing: .06em;
}

button:active {
    transform: translateY(2px) scale(0.99);
    transition: all .15s ease-in;
}
.simple-button:active {
    transform: none !important;
}
@layer base {
    h1 {
        @apply text-3xl md:text-4xl font-bold leading-tight mt-6 mb-4;
    }

    h2 {
        @apply text-2xl md:text-3xl font-semibold leading-tight mt-6 mb-3;
    }

    h3 {
        @apply text-xl md:text-2xl font-semibold leading-snug mt-5 mb-3;
    }

    h4 {
        @apply text-lg md:text-xl font-medium leading-snug mt-4 mb-2;
    }

    h5 {
        @apply text-base md:text-lg font-medium leading-normal mt-4 mb-2;
    }

    h6 {
        @apply text-sm md:text-base font-medium leading-normal mt-3 mb-2 text-gray-600;
    }
}